<ion-view >
<ion-nav-title>
		Article
  </ion-nav-title>
        <ion-content class="padding has-header">
             <div class="button-bar">
                 <a class="button button-light"></a>
                 <a class="button button-stable"></a>
               <a class="button button-positive"></a>
               <a class="button button-assertive"></a>
               <a class="button button-energized"></a>
               <a class="button button-positive"></a>
               <a class="button button-royal"></a>
               <a class="button button-dark"></a>
               <a class="button"></a>
            </div> 
            
            <button class="button button-awesome">
   button-outline
</button>

<button class="button button-assertive button-clear">
   button-clear
</button>

        </ion-content>
      </ion-view>