<ion-view >
	    <ion-nav-title>
      {{product.name}}
    </ion-nav-title>
        <ion-content class="padding has-header">
        	<!--<ion-slide-box>-->
			  <!--<ion-slide >-->
			  <div ng-repeat="image in product.images">
			  	<img width="100%" data-ng-src="data:image/jpeg;base64,{{image}}" />
			  	</div>
			<!--</ion-slide>-->
			  <!--<ion-slide><img width="100%" src="http://geerhunter.com/app/assets/ecommerce/1.jpg" /></ion-slide>-->
			  <!--<ion-slide><img width="100%" src="http://geerhunter.com/app/assets/ecommerce/1.jpg" /></ion-slide>-->
			  <!--<ion-slide><img width="100%" src="http://geerhunter.com/app/assets/ecommerce/1.jpg" /></ion-slide>-->
			<!--</ion-slide-box>-->
		
		<button class="button button-block button-energized" ng-click="newConversation()">
			<i class="icon ion-ios-cart"></i> Discuss Product
		</button>
		<ul class="list">
		    <li class="item">{{product.name}}</li>
		    <li class="padding"><p>{{product.description}}</p></li>
		    <li class="item">{{product.price | currency : product.currency  : 2 }}</li>
		</ul>
		
		
		
<div class="row">
  <div class="col">stuff might go here or something</div>
  <div class="col">stuff might go here or something</div>
  <div class="col">stuff might go here or somethingl</div>
</div>
<div class="row">
  <div class="col">stuff might go here or something</div>
  <div class="col">stuff might go here or something</div>
  <div class="col">stuff might go here or something</div>
</div>

<br />
<br />
<br />

          </ion-content>
      </ion-view>